<div class="mainContent">
    <div class="login">
        <h1 for="EMAIL">List of all Users</h1>
        <div class="list">
            <table class="table" id='tab'>
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.name}} </td>
                        <td>{{user.age }}</td>
                        <td>{{user.email}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div class="actions">
            <button (click)="nav('login')">LOGOUT</button>
        </div>
    </div>
</div>