body {
    background-image: url(../../assets/backgroundTest.jpg);
    font-family: 'ZCOOL KuaiLe', cursive;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -ms-content-zooming: none;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

table,
tr td {
    position: relative;
    left: 50px;
    top: 50px;
    width: 200px;
    background-color: rgb(240, 191, 172, 0.3);
    border: 1px solid black;
    padding: 5px;
}

tbody {
    display: block;
    height: 400px;
    overflow-y: scroll;
}

thead,
tbody tr {
    display: table;
    width: 50%;
    table-layout: fixed;
}

thead {
    width: calc( 100% - 1em)
}

table {
    width: 700px;
}

.menu {
    position: fixed;
    top: 80px;
    right: 50px;
    text-align: center;
    input {
        width: 350px;
        height: 25px;
    }
    .deleting {
        padding-top: 20px;
    }
    .delete {
        display: inline-block;
        width: fit-content;
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        input {
            width: 250px;
        }
    }
    .button {
        display: inline-block;
        width: fit-content;
        display: inline-block;
    }
    button {
        padding: 5px;
        margin: 5px;
    }
}

.logout {
    position: fixed;
    top: 10px;
    right: 10px;
}

.changingData {
    .change {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
    }
    input {
        right: 50px;
        width: 250px;
    }
}