<body>

    <div class="mainContent">
        <div class="register">

            <div class="list">
                <table class="table" id='tab'>
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user.name}} </td>
                            <td class="age">{{user.age }}</td>
                            <td>{{user.email}}</td>
                            <td class="interactable">
                                <div class=delete><button (click)="deleteUserData(user.id)">DELETE!</button></div>
                                <div class=delete><button (click)="searchID(user.id)">UPDATE!</button></div>
                            </td>




                        </tr>
                    </tbody>
                </table>
            </div>
            <div class=menu>
                <div class=search>
                    <div class><input type="text " name="search " placeholder="enter ID/NAME/AGE " [formControl]="fcInput" /></div>
                    <div class=button><button (click)="search()">search </button></div>
                    <div class=button><button (click)="getAll()">Refresh list</button></div>
                </div>


                <div class=changingData>

                    <div class=delete>
                        <!-- <h3>{{Name}}</h3> -->
                    </div>

                    <div>
                        <div class=delete>
                            <h4>change name</h4>
                        </div>
                        <div class=change><input type="text " name="search " placeholder="enter new name" [formControl]="fcName" /></div>
                    </div>

                    <div>
                        <div class=change>
                            <h4>change age</h4>
                        </div>
                        <div class=change><input type="text " name="search " placeholder="enter new age" [formControl]="fcAge" /></div>
                    </div>

                    <div>
                        <div class=change>
                            <h4>change email</h4>
                        </div>
                        <div class=change><input type="text " name="search " placeholder="enter new email" [formControl]="fcEmail" /></div>
                    </div>

                    <div>
                        <div class=change>
                            <h4>change password</h4>
                        </div>
                        <div class=change><input type="password" name="search " placeholder=" enter new password" [formControl]="fcPassword" /></div>
                    </div>

                    <div>
                        <div class=change>
                            <h4>confirm password</h4>
                        </div>
                        <div class=change><input type="password" name="search " placeholder=" enter new password" [formControl]="fcConfirmPassword" /></div>
                    </div>

                    <div>
                        <div class=delete><button (click)="patchData()">Update credentials</button></div>
                    </div>
                </div>

            </div>

            <div class="logout">
                <button (click)="nav('login')">LOGOUT</button>
            </div>
        </div>
    </div>

</body>